- provide :title, "About"
h1
  | About
p
  | The 
  = link_to " Ruby on Rails Tutorial ", "http://railstutorial.jp/"
  | is a
  = link_to " book ", "http://railstutorial.jp/book"
  | to teach web development with
  = link_to " Ruby on Rails.", "http://rubyonrails.org/"
  | This is the sample application for the tutorial.