- provide :title, "Help"
h1
  | Help
p
  | Get help on the Ruby on Rails Tutorial at the
  = link_to " Rails Tutorial help page ", "http://railstutorial.jp/help"
  | to get help on this sample app, see the
  = link_to " Ruby on Rails Tutorial ", "http://railstutorial.jp/book"
  | book.
