= form_for @micropost do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :content, placeholder: "Compose new micropost..."
  = f.submit "Post", class: "btn btn-primary"
  span.picture
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
