footer.footer
  small
    | The
    = link_to " Ruby on Rails Tutorial ", "http://railstutorial.jp/"
    | by
    = link_to " Michael Hartl ", "http://www.michaelhartl.com/"
  nav
    ul
      li
        = link_to "About", about_path
      li
        = link_to "Contact", contact_path
      li
        = link_to "News", "http://news.railstutorial.org/"
