doctype html
html
  head
    title
      = full_title(yield(:title))
    = render 'layouts/rails_default'
    = render 'layouts/shim'
  body
    = render 'layouts/header'
    .container
      - flash.each do |msg_type, msg|
        = content_tag :div, msg, class: "alert alert-#{msg_type}"
      = yield
      = render 'layouts/footer'
